[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
mypy = "*"

[packages]
bs4 = "*"
requests = "*"
lxml = "*"
pytest = "*"
absl-py = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest -s tests"
main = "python -m src.Scraper"
static-test = "pytest -sm static tests"
rest-test = "pytest -sm rest tests"
